/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
*/
@font-face {
  font-family: PopRegular;
  src: url("/fonts/Poppins-Medium.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PopRegular";
}

.topnavbar {
  font-size: 25px;
}
.logo {
  margin-left: 50px;
  margin-top: 5px;
  height: 40px;
}
.brandtext {
  font-weight: bold;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 10px;
  margin-left: 10px;
  color: black;
}
.navlist li a {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.navlist li a:hover {
  transform: scaleX(1.2);
}

.siteheader {
  width: 100%;
  height: 100vh;

  background-image: linear-gradient(
    88.7deg,
    rgba(144, 254, 229, 1) -17.1%,
    rgba(91, 193, 239, 1) 40.4%,
    rgba(119, 94, 173, 1) 115.3%
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}

.contentbox {
  margin-top: 80px;
}

.leftside {
  width: 40vw;
}
.rightside {
  width: 60vw;
  color: antiquewhite;
  text-align: center;
}
.welcomebtn {
  font-size: 20px;
  width: auto;
  padding: 10px 10px;
}
.dropdown-down {
  font-size: 10px;
  color: black;
}
.dropdown-menu:hover {
  overflow: hidden;
  color: black;
}
